<html>
<head>
	<title>FSE Chat Room</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div id='chatroom' class='container container-fluid'>
		<div class='panel panel-primary'>
			<div class="panel-heading">
				FSE chat room - <%= chat_name %>
			</div>
			<div class="panel-body">
				<div id="messages-container">
					<!--this block	only shows up when there is a message to display -->
					<ul>
						<li>
					<% items.forEach(function(chat){ %>
						<div id='message'>
							<div id='chat-head'>
								<%= chat.name %>
								<span id="chat-time"><em><%= chat.time %></em></span>
							</div>
							<p class='chat-list'>
								<%= chat.message %>
							</p>
						</div>
					<% }) %>
				</li>
				</ul>
					<!-- Done hidding block --> 
				</div>
				<form action='/post' method='POST'>
					<!-- Hidden input -->
					<input type='hidden' name='chat_name' value='<%= chat_name %>'/>
					<div id='message-input'>
						<textarea name='message' placeholder='Write here...' class='form-control'></textarea>
					</div>
					<button class='btn btn-primary'>
						<span class="glyphicon glyphicon-send"></span>  POST
					</button>
				</form>
			</div>
			<div class="panel-footer">
				<a href='/' class='btn btn-danger'><span class="glyphicon glyphicon-off"></span> Leave chat</a>
			</div>
		</div>
	</div>
</body>
</html>