<html>
<head>
	<title>FSE Chat Room</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<script src='/js/jquery-3.1.1.min.js'></script>
	<script src="/socket.io/socket.io.js"></script>

</head>
<body>
	<div id='chatroom' class='container container-fluid'>
		<div class='panel panel-primary'>
			<div class="panel-heading">
				FSE chat room - <%= chat_name %>
				<a class='btn btn-default btn-logout' href="/">Logout</a>
			</div>
			<div class="panel-body">
				<div id="messages-container">
					<!--this block	only shows up when there is a message to display -->
					
					<% items.forEach(function(chat){ %>
						<div class='well'>
							<div id='chat-head'>
								<div id='chat-name' class='col-xs-6'><%= chat.name %></div>
								<div id='chat-time' class='col-xs-6'><%= chat.time %></div>
							</div>
							<div class='chat-list'>
								<%= chat.message %>
							</div>
						</div>
					<% }) %>
					<!-- Done hidding block --> 
				</div>
			</div>
			<div class="panel-footer">
				<form id='chatForm'>
					<!-- Hidden input -->
					<input type='hidden' id='chat_name' name='chat_name' value='<%= chat_name %>'/>

					<!-- <div class="input-group"> -->
				      <input id='chatInput' type="text" class="form-control" placeholder="Type here... Press ENTER to send" autocomplete="off">
				</form>
			</div>
		</div>
	</div>
</body>
<script src="/js/scripts.js"></script>
</html>